@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes appearing-menu {
  from {
    visibility: visible;
    bottom: -70px;
    opacity: 0;
  }
  to {
    visibility: visible;
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
  font-size: 13px;
}

.footer-main-page {
  font-size: 17px;
}

.footer-logo {
  color: white;
  margin-right: 15px;
}

footer > a {
  color: white;
}

.font-logo {
  font-family: "Shrikhand", cursive;
}

.logo-ohmyfood-section-menu-page {
  display: flex;
}
.logo-ohmyfood-section-menu-page img {
  width: 50%;
  margin: 10px auto;
  display: block;
  border-radius: 0;
  height: auto;
}

.home-button {
  display: none;
}

.arrow-color {
  color: black;
}

@media screen and (min-width: 688px) {
  .logo-ohmyfood-section-menu-page img {
    width: 252px;
    margin: 10px auto 10px 10px;
  }
  .logo-ohmyfood-section-menu-page .home-button {
    display: block;
    align-self: center;
    margin-right: 15px;
    text-decoration: none;
    color: black;
  }
  .logo-ohmyfood-section-menu-page .home-button:hover {
    font-weight: bold;
  }
  .logo-ohmyfood-section-menu-page .arrow-margin {
    display: none;
  }
}
.user-location {
  background-color: #eaeaea;
  padding: 1px;
}

.reservation-menu {
  background-color: #f6f6f6;
  padding: 54px 30px;
  text-align: center;
}

.h1-welcome-page {
  font-size: 25px;
}

.site-presentation {
  margin: 28px 0;
  font-size: 17px;
}

.fonctionnement {
  margin: 50px 5%;
}

.step {
  padding: 7px;
  margin: 18px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 11px 26px 0 rgba(0, 0, 0, 0.2);
}

.paragraph-fonct {
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.step-number {
  background-color: #9356dc;
  margin: auto 0;
  color: white;
  padding: 6px 4px;
  border-radius: 100px;
  position: relative;
  left: -20px;
}

.step-logo {
  color: #838383;
  margin: auto 28px;
}

.step-text {
  font-size: 15px;
}

@media screen and (min-width: 688px) {
  .fonctionnement {
    margin: 50px 23%;
  }
}
.restaurant-list {
  padding: 12px 5%;
  background-color: #f6f6f6;
}

.new {
  position: absolute;
  right: 5px;
  z-index: 1;
  background-color: #99e2d0;
  padding: 8px;
  font-size: 17px;
  color: #159374;
  border-radius: 3px;
  font-weight: bold;
}

.restaurant-details-flexbox {
  position: relative;
}

.restaurant-descr {
  margin-left: 20px;
  font-size: 20px;
}

.restaurant-descr h3 {
  margin: 5px 0;
}

.restaurant-descr p {
  margin: 6px 0;
  font-size: 18px;
}

.restaurant-name-welcome-page {
  font-size: 18px;
}

@media screen and (min-width: 688px) {
  .flexbox-container {
    display: flex;
  }
  .restaurant {
    width: 25%;
    margin: 10px;
  }
  .new {
    right: auto;
    border-radius: 0 10px 10px 0;
  }
  .restaurant-descr {
    margin: 4px 0;
  }
  .restaurant-descr h3 {
    margin: 5px 58px 5px 5px;
  }
  .restaurant-descr p {
    margin: 6px 56px 5px 5px;
    font-size: 15px;
  }
  .restaurant-name-welcome-page {
    font-size: 15px;
  }
}
.restaurant-menu {
  position: relative;
  bottom: 41px;
  background-color: #f6f6f6;
  padding: 13px 30px 40px 30px;
  border-radius: 30px 30px 0 0;
}

.restaurant-name-heart-logo {
  position: relative;
  display: flex;
  z-index: 1;
}

.restaurant-name {
  font-size: 19px;
  font-style: italic;
  margin: auto auto auto 0;
}

.title-menu-page {
  margin: auto;
  font-family: "Shrikhand", cursive;
}

.compress-style {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  padding: 6px;
}

.descr-width {
  flex-grow: 4;
}

.ingredients-price-spacing {
  display: flex;
  justify-content: space-between;
}

.paragr-style {
  margin: 0 0 0 0;
}

.price-moving-div {
  position: relative;
  right: -46px;
  transition: 0.5s;
}

.dish-menu:hover > .price-moving-div {
  right: 0;
}

.price-style {
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  margin-right: 2px;
}

.animation-check {
  background-color: #99e2d0;
  position: relative;
  right: -216%;
  transition: 0.4s;
}

.dish-menu:hover > .animation-check {
  right: 0;
}

.check-logo {
  color: white;
  padding: 22px 15px;
  transform: rotate(-360deg);
  transition: transform 750ms ease-in-out;
}

.dish-menu:hover > .animation-check > .check-logo {
  transform: rotate(0deg);
}

.order-button-design {
  padding: 16px 36px;
  margin-top: 24px;
  font-size: 14px;
}

.order-button {
  text-align: center;
}

input[type="text"] {
  text-align: center;
  padding: 0;
  border: 0;
  height: 18px;
  width: 130px;
  background-color: #eaeaea;
}

::placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
  border: 0;
}

@media screen and (min-width: 688px) {
  .flexbox-container-menu {
    display: flex;
  }
  .flexbox-menu {
    width: 33%;
    margin: 5px;
  }
}
.h2-welcome-page {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.arrow-margin {
  margin: auto 0 auto 15px;
}

.paragraph {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 17px;
}

.restaurant-list-button {
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 100px;
  color: white;
  padding: 14px 19px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 8px 6px 0 rgba(0, 0, 0, 0.2);
}

.restaurant-list-button:hover {
  background-image: linear-gradient(to top left, #b27fd2, #e697dc);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 11px 6px 0 rgba(0, 0, 0, 0.2);
}

.restaurant {
  border-radius: 20px;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 11px 26px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 172px;
  object-fit: cover;
}

.i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.i-2 {
  position: absolute;
  right: -5px;
  bottom: 50%;
  transform: translateY(50%);
}

.heart-sol {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 350ms;
}

.heart-sol:hover {
  opacity: 1;
}

.div-heart-logo {
  background: darkslategrey;
  -webkit-background-clip: text;
}

.image-presentation {
  width: 100%;
  height: 250px;
  border-radius: 0;
}

.menu-name {
  font-size: 19px;
  font-weight: 500;
  width: 49px;
  color: darkslategrey;
  border-bottom: 4px solid powderblue;
}

.dish-menu {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 17px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 11px 26px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 13px;
  justify-content: space-between;
}

.dish-menu h3 {
  margin: 0 0 0 0;
}

.price-menu {
  font-weight: bold;
  font-size: 46px;
}

.dish-1 {
  visibility: hidden;
  position: relative;
  animation: appearing-menu 1s forwards;
}

.dish-2 {
  visibility: hidden;
  position: relative;
  animation: appearing-menu 1s forwards;
  animation-delay: 0.2s;
}

.dish-3 {
  visibility: hidden;
  position: relative;
  animation: appearing-menu 1s forwards;
  animation-delay: 0.4s;
}

.dish-4 {
  visibility: hidden;
  position: relative;
  animation: appearing-menu 1s forwards;
  animation-delay: 0.6s;
}

main {
  background-color: #f6f6f6;
}

.loader {
  position: fixed;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 1s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 688px) {
  .h2-welcome-page {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
