footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
  font-size: 13px;
}

.footer-main-page {
  font-size: 17px;
}

.footer-logo {
  color: white;
  margin-right: 15px;
}

footer > a {
  color: white;
}

.font-logo {
  font-family: "Shrikhand", cursive;
}
